﻿
@{
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}
<br />
<br />
<center>
    <h3 style="font-family:'Buxton Sketch'; font-size:51px;">Employee Management System (EMS)</h3>
    <hr />
    <h4 style="font-family:Andalus; font-size:30px;">Crud Application</h4>
</center>