﻿@model EmployeeManagementSystem.Models.employee_det
@{
  
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}
<br />
<br />
<center>
    <h3 style="font-family:'Buxton Sketch'; font-size:50px;">Employee Management System (EMS)</h3>    
</center>
<div class="container">
    <p style="color:red;">@ViewBag.mess</p>
   <form method="post" enctype="multipart/form-data">
       <div class="form-group">
           <label>Employee name: </label>
           <input type="text" name="emp_name" class="form-control" />
       </div>
       <div class="form-group">
           <label>Department name: </label>
           <input type="text" name="dept_name" class="form-control" />
       </div>
       <div class="form-group">
           <label>Select image: </label>
           <input type="file" name="file" class="form-control" />
       </div>
       <div class="form-group">
           <label>Employee age: </label>
           <input type="text" name="emp_age" class="form-control" />
       </div>
       <div class="form-group">
           <label>Employee salary: </label>
           <input type="text" name="employee_salary" class="form-control" />
       </div>

       <div class="form-group">
           <label>Employee location: </label>
           <input type="text" name="employee_location" class="form-control" />
       </div>
       <div class="form-group">
          <input type="submit" value="Insert" class="btn btn-danger" />
       </div>

   </form>

</div>