﻿@model IEnumerable<EmployeeManagementSystem.Models.employee_det>
@{
   
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}
<br />
<br />
<center>
    <h3 style="font-family:'Buxton Sketch'; font-size:50px;">Employee Management System (EMS)</h3>
</center>
<div class="container">
    <form method="post">
        @{
            foreach (var item in Model)
            {
                   <div class="form-group">
                 
                    <input type="hidden" name="idd" value="@item.emp_id" class="form-control" />
                </div>
            
                <div class="form-group">
                    <label>Update Department name: </label>
                    <input type="text" name="emp_dept" value="@item.emp_dept" class="form-control" />
                </div>
            
                <div class="form-group">
                    <label>Update salary: </label>
                    <input type="text" name="employee_salary" value="@item.employee_salary" class="form-control" />
                </div>
            
                <div class="form-group">
                    <label>Update location: </label>
                    <input type="text" name="employee_location" value="@item.emp_location" class="form-control" />
                </div>
                <div class="form-group">
                   
                    <input type="submit" value="Update" class="btn btn-danger" />
                </div>
            
                
            }
        }
    </form>
</div>

