﻿@model IEnumerable<EmployeeManagementSystem.Models.employee_det>
@{
  
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}

<br />
<br />
<center>
    <h3 style="font-family:'Buxton Sketch'; font-size:50px;">Employee Management System (EMS)</h3>
</center>
<div class="container">
    <br />
    <br />
    <form method="post">

        <table class="table table-bordered">
            <tr>
                <th>Employee id</th>
                <th>Employee name</th>
                <th>Department</th>
                <th>Image</th>
                <th>Age</th>
                <th>Salary</th>
                <th>Location</th>
                <th><input type="submit" value="Delete" class="btn btn-danger" /></th>
                <th>Action</th>
            </tr>

            @{
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.emp_id</td>
                        <td>@item.emp_name</td>
                        <td>@item.emp_dept</td>
                        <td><img src="~/images/@item.emp_image" width="100" height="80" /></td>
                        <td>@item.emp_age</td>
                        <td>@item.employee_salary</td>
                        <td>@item.emp_location</td>
                        <td><input type="checkbox" name="chid" value="@item.emp_id" /></td>
                        <td><a href="@Url.Action("select", "Employee", new { id=@item.emp_id})" class="alert alert-danger">Update</a></td>
                    </tr>

                }
            }
        </table>

    </form>
</div>
